.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-right: auto;
    margin-left: auto;
  }
  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
